{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ meta.title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static "style.css" %}" />
</head>
<body>
    <div class="welcome headline">
Welcome to {{ meta.title }}!<br>
    </div>
    <div class="welcome">
{% if user.is_authenticated %}
Hello, {{ user.username }}!<br>
{% else %}
Hello, guest!
If you are a member of a team, please login <a href="./login">here</a>.
{% endif %}
    </div>
    <nav class="menubar mainmenu">
        <a class="item" href="http://www.krakrobot.pl/" target="_blank">krakrobot.pl</a>
        <a class="item" href="./">home</a>
        <a class="item" href="./results">results</a>
{% if user.is_authenticated %}
        <a class="item" href="./submit">submit</a>
        <a class="item" href="./my_results">my team results</a>
        <a class="item" href="./logout">logout</a>
{% endif %}
    </nav>
{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}

{% block body %} {% endblock %}
</body>
</html>
