{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ meta.title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static "style.css" %}" />
</head>
<body>
    <div class="welcome headline">
Welcome to {{ meta.title }}!<br>
    </div>
    <div class="welcome">
{% if user.is_authenticated %}
Witaj, {{ user.username }}!<br>
{% else %}
Witaj, gościu!
Jeżeli jesteś członkiem drużyny, zaloguj się <a href="./login">tutaj</a>.
{% endif %}
    </div>
    <nav class="menubar mainmenu">
        <a class="item" href="http://www.krakrobot.pl/" target="_blank">krakrobot.pl</a>
        <a class="item" href="./">Strona domowa</a>
        <a class="item" href="./results">Wszystkie wyniki</a>
{% if user.is_authenticated %}
        <a class="item" href="./submit">Prześlij kod</a>
        <a class="item" href="./my_results">Moje wyniki</a>
        <a class="item" href="./logout">Wyloguj</a>
{% endif %}
    </nav>
{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}

{% block body %} {% endblock %}
</body>
</html>
