{% extends 'submission/base.html' %}
{% load static %}

{% block body %}


        <div class="article">
        Welcome to our submission service!<br><br>
	<b>Update</b>: We have increased RAM limit to 1GB.<br><br>

        Here you can <b>submit</b> and <b>test</b> your code.<br>
        In case of problems with the submission system we accept
        e-mail code submission.<br><br>

        After the deadline <b>(9 March 2014, 23:59)</b>, your latest submission will be evaluated
        on larger amount of tests and will compete with other participants.<br><br>

        Please note that here your code is tested on 2 small maps (4x4 and 8x8) and the <b>RAM limit is set to 1000 MB
        </b>.<br>

        Also memory testing is only approximate. <b>Good luck!</b>
        </div>

        <center><img src="{% static "images/krakrobot-logo.png" %}"></center>

{% endblock %}
