{% extends 'submission/base.html' %}
{% load static %}

{% block body %}


        <div class="article">
        Witamy na stronie naszej automatycznej testerki rozwiązań!<br><br>
	<b>Aktualizacja</b>: Podnieśliśmy limit pamięci RAM do 1GB.<br><br>

        Tutaj możesz <b>przesłać</b> i <b>przetestować</b> swoje rozwiązanie.<br>
        W przypadku jakichkolwiek problemów z testerką, przyjmujemy ostateczne rozwiązania także drogą mailową.<br><br>

        Po terminie nadsyłania rozwiązań <b>(19 marca 2016, 23:59)</b>, wasze najpóźniejsze zgłoszenie zostanie ocenione na większej liczbie map i będzie konkurowało z rozwiązaniami innych drużyn.<br><br>

        Prosimy zwrócić uwagę na fakt, że tutaj kody źródłowe są testowane na dwóch niezmiennych ustawieniach planszy. <b>Limit pamięci RAM jest ustawiony na  1000MB</b>.<br>

        Testowanie zużycia pamięci jest przybliżone. <b>Powodzenia!</b>
        </div>

        <center><img src="{% static "images/krakrobot-logo.png" %}"></center>

{% endblock %}
