{% extends 'submission/base.html' %}
{% block body %}
	{{ state }}
    {% if submission_end %}
<div class="article">
    <p>Termin nadsyłania rozwiązań minął... Dziękujemy za wszystkie zgłoszenia!</p>
</div>
    {% elif not team %}
<div class="warning">
        {% include 'submission/messages/no_team.html' %}
</div>
    {% else %}

    <div class="article">
        <form action="/submit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>

            {% if form.non_field_errors %}
            <tr class="warning">
                <td>
                        {{ form.non_field_errors }}
                </td>
            </tr>
            {% endif %}

            {% if form.file.errors %}
            <tr class="warning">
                <td>
                        {{ form.file.errors }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    Paczka: {{ form.file }}
                </td>
                <td>
                    Podaj paczkę ze swoim rozwiązaniem.</br>
                    Dopuszczalne formaty: <code>.jar, .tar, .tar.gz, .zip</code>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    Paczka powinna zawierać plik <code>run.sh</code> lub
                    <code>run.py</code> (patrz readme symulatora).
                </td>
            </tr>

            {% if form.command.errors %}
            <tr class="warning">
                <td>
                        {{ form.command.errors }}
                </td>
            </tr>
            {% endif %}

            <tr>
                <td>
                    <input type="submit" value="Wyślij" />
                </td>
            </tr>
            </table>
        </form>
    </div>

    {% endif %}
{% endblock %}
