
* {
    margin: 0px;
    padding: 10px;
    font-family: "Droid Serif", sans-serif;
    text-decoration: none;
}

a {
    color: #606060;
    font-weight: bold;
}

body {
    background-image: url("images/background.png");
    background-color: lightgrey;
}

div.message {
    color: green;
    font-size: 16px;
}

div.warning {
    color: darkred;
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(200, 0, 0, 0.50);
}

div.welcome {
    color: maroon;
}

div.article {
    font-size: 15px;
    width: 900px;
    margin-left: 50px;
    background: rgba(200, 200, 200, 0.50);
}

div.headline {
    font-size: 18px;
    font-weight: bold;
}

*.submission {
    font-weight: bold;
    background: rgba(128, 128, 128, 0.50);
}

*.submission i {
    font-weight: normal;
    font-size: 12px;
}

*.test {
    font-size: 14px;
    background: rgba(128, 128, 128, 0.10);
}

*.result {
    padding: 5px;
}

table {
    font-size: 14px;
}

table td.title {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

table td.log {
    font-family: Mono;
    font-size: 11px;
}