
/*
 * Download font face, so that it looks the same for every user
 */

@font-face {
    font-family: "Django Subeval";
    src: url("/static/fonts/FreeSans.woff") format("woff"),
         url("/static/fonts/FreeSans.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 10px;
    font-family: "Django Subeval", sans-serif;
    text-decoration: none;
}

a {
    color: #606060;
    font-weight: bold;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    color: black;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

body {
    background-image: url("images/background.png");
    background-color: lightgrey;
}

code {
    font-family: monospace;
}

.code {
    font-family: monospace;
}

.info {
    color: #666;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(150, 150, 150, 0.25);
    margin: 10;
}

.message {
    color: green;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 200, 0, 0.25);
    margin: 10;
}

.error {
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(200, 0, 0, 0.5);
    margin: 10;
}

.warning {
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(200, 0, 0, 0.5);
    margin: 10;
}

div.welcome {
    color: maroon;
}

div.article {
    font-size: 15px;
    width: 900px;
    margin-left: 50px;
    background: rgba(200, 200, 200, 0.50);
}

div.headline {
    font-size: 18px;
    font-weight: bold;
}

.submission {
    font-weight: bold;
    background: rgba(128, 128, 128, 0.50);
}

.submission i {
    font-weight: normal;
    font-size: 12px;
}

.test {
    font-size: 14px;
    background: rgba(128, 128, 128, 0.10);
}

.testerror {
    font-size: 14px;
    background-color: rgba(200, 0, 0, 0.5);
    color: darkred;
    font-weight: bold;
}

.result {
    padding: 5px;
}

.team {
    font-weight: bold;
    background: rgba(128, 128, 128, 0.50);
    text-align: center;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
    background-size: cover;
}

.teamresult {
    text-align: center;
}

table {
    font-size: 14px;
}

table.board {
    background-size: contain;
    padding: 0;
    table-layout:fixed;
    width:512px;
    height:512px;
    border: none;
}

table.board td {
    overflow: hidden;
    border:none;
}

table td.title {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

td.log div {
    height: 400px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.25);
}

td.log div p {
    font-family: Mono;
    font-size: 11px;
    padding: 11;
}
